[View in Colaboratory](https://colab.research.google.com/github/RayleighKim/M11_Intro_To_Unsuerpvised_Learning/blob/master/11_1_Intro_to_Unsupervised_Learning_I.ipynb)

# Intro to Unsupervised Learning

## Text Retrieval Problem

### Your name :     

### Data Link :
* [DBpedia](https://wiki.dbpedia.org/)
* [Dataset](https://media.githubusercontent.com/media/RayleighKim/Example_datasets/master/People_wiki.csv)

#### 실습목표 I<br>
1. TF-IDF를 이해한다.
2. Scikit-Learn을 이용하여 클러스터링을 할 줄 안다.

#### 실습목표 II<br>
1. 문제의 구조를 정교화 하기 위해 발전한 과정의 흐름을 안다.
---------------
Rayleigh Kim @ D:plus

In [91]:
'''
라이브러리들을 불러오자.
'''
import numpy as np
import pandas as pd
'''
사이킷런의 라이브러리들을 미리 불러두는 것도 좋지만,
세부적인 메쏘드가 너무 많아서 필요한것만 불러오도록 할 것이다.
'''

'\n사이킷런의 라이브러리들을 미리 불러두는 것도 좋지만,\n세부적인 메쏘드가 너무 많아서 필요한것만 불러오도록 할 것이다.\n'

## Load and Prepare the data

In [0]:
data_path = 'https://media.githubusercontent.com/media/RayleighKim/Example_datasets/master/People_wiki.csv'
people = pd.read_csv(data_path)

In [93]:
len(people)

59071

In [94]:
people.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

우리는 URL은 안쓸꺼니까! 날려버리자.

왜인지 URI로 되어 있다.

In [95]:
if 'URI' in list(people):
    people.drop(labels=['URI'], axis=1, inplace=True)
people.head()

                  name                                               text
0        Digby Morrell  digby morrell born 10 october 1979 is a former...
1       Alfred J. Lewy  alfred j lewy aka sandy lewy graduated from un...
2        Harpdog Brown  harpdog brown is a singer and harmonica player...
3  Franz Rottensteiner  franz rottensteiner born in waidmannsfeld lowe...
4               G-Enka  henry krvits born 30 december 1974 in tallinn ...

## Explore the dataset

엘튼 존! 조지 클루니!

In [96]:
elton = people.loc[people['name']=='Elton John']
elton

             name                                               text
19923  Elton John  sir elton hercules john cbe born reginald kenn...

In [97]:
list(elton['text'])

['sir elton hercules john cbe born reginald kenneth dwight 25 march 1947 is an english singer songwriter composer pianist record producer and occasional actor he has worked with lyricist bernie taupin as his songwriter partner since 1967 they have collaborated on more than 30 albums to datein his fivedecade career elton john has sold more than 300 million records making him one of the bestselling music artists in the world he has more than fifty top 40 hits including seven consecutive no 1 us albums 58 billboard top 40 singles 27 top 10 four no 2 and nine no 1 for 31 consecutive years 19702000 he had at least one song in the billboard hot 100 his single something about the way you look tonightcandle in the wind 1997 sold over 33 million copies worldwide and is the bestselling single of all time he has received six grammy awards five brit awards winning two awards for outstanding contribution to music and the first brits icon in 2013 for his lasting impact on british culture an academy award a golden globe award a tony award a disney legend award and the kennedy center honors in 2004 in 2004 rolling stone ranked him number 49 on its list of 100 influential musicians of the rock and roll era in 2008 billboard ranked him the most successful male solo artist on the billboard hot 100 top alltime artists third overallelton john was inducted into the rock and roll hall of fame in 1994 is an inductee into the songwriters hall of fame and is a fellow of the british academy of songwriters composers and authors having been named a commander of the order of the british empire in 1996 john received a knighthood from elizabeth ii for services to music and charitable services in 1998 john has performed at a number of royal events such as the funeral of princess diana at westminster abbey in 1997 the party at the palace in 2002 and the queens diamond jubilee concert outside buckingham palace in 2012he has been heavily involved in the fight against aids since the late 1980s in 1992 he established the elton john aids foundation and a year later began hosting the annual academy award party which has since become one of the highestprofile oscar parties in the hollywood film industry since its inception the foundation has raised over 200 million john who announced he was bisexual in 1976 and has been openly gay since 1988 entered into a civil partnership with david furnish on 21 december 2005 and after gay marriage became legal in england wed furnish on 21 december 2014 he continues to be a champion for lgbt social movements worldwide and samesex marriage']

In [98]:
george = people.loc[people['name'].str.contains('George')]
george['name']

213                        George Brent Mickum IV
586                          George Athan Billias
977                            George M. Galambos
1100                                  George Azar
1323                                George Quasha
1402                       George de la Pe%C3%B1a
1418                                George E. Fox
1524                                Willie George
1710                                George Athans
2486                             George Halvorson
2654                               George Gabriel
2657                              Billy Georgette
2770                  George McMahon (politician)
2969                              George Brancato
3883                               George Kurdahi
4904                      George Hart (physicist)
5180                           George P. Fletcher
5624                                  George Piro
5918                             George P. Taylor
5952                                  George Roll
6345                                George Heller
6517                               George O'Boyle
6828                           George J. Mitchell
7363                            George Mu%C3%B1oz
7457                           George Poinar, Jr.
7666                           Andrew George, Jr.
7740                                 George Shire
7937                                  Doug George
8372                                  George Wang
8412                              George Koskotas
                           ...
52459                                George Herms
53012                              George McGavin
53222                              George Shapiro
53346                          George Ramsay Cook
53742                                  Uwe George
54091                                George Awada
54182                                George Phang
54242                        George W. Knight III
54269                   George Seitz (politician)
54452                           George H. W. Bush
54506                    George Lyle (ice hockey)
54542                             George Stonbely
54598                  George Rose (rugby league)
55051                              Noah Georgeson
55341                      George T. Babbitt, Jr.
55392                             Georgeann Wells
55870                              George G. Hall
55962                     George Weedon (gymnast)
56184                               George Ibanez
56361                              George Haffner
56453                           George Greenamyer
56692                  George Leslie (politician)
56834                             George W. Grace
57213        George Howard, 13th Earl of Carlisle
57384                                Bruce George
57512    George Little (New Brunswick politician)
57624                                George Tobin
57803                                George Reyes
58529                            George McConnell
59058                               George Krause
Name: name, Length: 325, dtype: object

In [99]:
clooney = george.loc[george['name'].str.contains('Clooney')]
clooney

                 name                                               text
38514  George Clooney  george timothy clooney born may 6 1961 is an a...

In [100]:
list(clooney['text'])

['george timothy clooney born may 6 1961 is an american actor writer producer director and activist he has received three golden globe awards for his work as an actor and two academy awards one for acting and the other for producingclooney made his acting debut on television in 1978 and later gained wide recognition in his role as dr doug ross on the longrunning medical drama er from 1994 to 1999 for which he received two emmy award nominations while working on er he began attracting a variety of leading roles in films including the superhero film batman robin 1997 and the crime comedy out of sight 1998 in which he first worked with a director who would become a longtime collaborator steven soderbergh in 1999 clooney took the lead role in three kings a wellreceived war satire set during the gulf warin 2001 clooneys fame widened with the release of his biggest commercial success the heist comedy oceans eleven the first of the film trilogy a remake of the 1960 film with frank sinatra as danny ocean he made his directorial debut a year later with the biographical thriller confessions of a dangerous mind and has since directed the drama good night and good luck 2005 the sports comedy leatherheads 2008 the political drama the ides of march 2011 and the comedydrama war film the monuments men 2014he won an academy award for best supporting actor for the middle east thriller syriana 2005 and subsequently earned best actor nominations for the legal thriller michael clayton 2007 the comedydrama up in the air 2009 and the drama the descendants 2011 in 2013 he received the academy award for best picture for producing the political thriller argo alongside ben affleck and grant heslov he is the only person ever to be nominated for academy awards in six categoriesclooney is sometimes described as one of the most handsome men in the world in 2005 tv guide ranked clooney no 1 on its 50 sexiest stars of all time list in 2009 he was included in times annual time 100 as one of the most influential people in the world clooney is also noted for his political activism and has served as one of the united nations messengers of peace since january 31 2008 his humanitarian work includes his advocacy of finding a resolution for the darfur conflict raising funds for the 2010 haiti earthquake 2004 tsunami and 911 victims and creating documentaries such as sand and sorrow to raise awareness about international crises he is also a member of the council on foreign relations']

## Bag of Words Simple ver

텍스트 문서들은 있다.<br>

텍스트들을 단어 등장여부를 이용한 binary vector로 만들자.

In [0]:
'''
Library Loading
'''
from collections import Counter, OrderedDict
import sklearn.feature_extraction.text as text

### 문장 하나를 사전으로 만들어 보자.

In [0]:
def Ordered_words(id = 0):
    sample_string = people['text'][id]
    string_splitted = sample_string.split()
    word_dict = dict(Counter(string_splitted))
    word_dict_list = [(k,v) for k, v in word_dict.items()]
    word_dict_list.sort(key = lambda x:x[1], reverse=True)
    print('name : ',people['name'][id])
    print(sample_string)
    print(word_dict_list)

In [103]:
'''
Ordered_words(n)
n 을 바꾸어 가며 확인해보자.
'''

Ordered_words(3)

name :  Franz Rottensteiner
franz rottensteiner born in waidmannsfeld lower austria austria on 18 january 1942 is an austrian publisher and critic in the fields of science fiction and the fantasticrottensteiner studied journalism english and history at the university of vienna receiving his doctorate in 1969 he served about fifteen years as librarian and editor at the sterreichisches institut fr bauforschung in vienna in addition he produced a number of translations into german of leading sf authors including herbert w franke stanislaw lem philip k dick kobo abe cordwainer smith brian w aldiss and the strugatski brothersin 1973 his new york anthology view from another shore of european science fiction introduced a number of continental authors to the englishreading public some of the authors in the work are stanislaw lem josef nesvadba gerard klein and jeanpierre andrevonthe year 1975 saw the start of his series die phantastischen romane for seven years it republished works of both lesser and betterknown writers as well as new ones ending with a total of 28 volumes in the years 19791985 he brought out trnaslations of h g wellss works in an eighteen volumes seriesrottensteiner provoked some controversy with his negative assessment of american science fiction what matters is the highest achievements and there the us has yet to produce a figure comparable to hg wells olaf stapledon karel apek or stanisaw lem rottensteiner describedroger zelazny barry n malzberg and robert silverberg as producing travesties of fiction and stated asimov is a typical nonwriter and heinlein and andersonare just banal however rottensteiner praised philip k dick listing him as one of the greatest sf writers from 1980 through 1998 he was advisor for suhrkamp verlags phantastische bibliothek which brought out some three hundred books in all he has edited about fifty anthologies produced two illustrated books the science fiction book 1975 und the fantasy book 1978 as well as working on numerous reference works on science fiction his close association with and promotion of lem until 1995 was a factor in the recognition of the latter in the united statesrottensteiner has been the editor of quarber merkur the leading german language critical journal of science fiction since 1963 in 2004 on the occasion of the hundredth number of this journal he was awarded a special kurdlawitzpreis
[('the', 22), ('of', 20), ('and', 13), ('in', 12), ('fiction', 7), ('as', 7), ('a', 7), ('science', 6), ('he', 6), ('his', 5), ('on', 4), ('lem', 4), ('rottensteiner', 3), ('is', 3), ('years', 3), ('number', 3), ('authors', 3), ('to', 3), ('some', 3), ('works', 3), ('with', 3), ('has', 3), ('was', 3), ('austria', 2), ('an', 2), ('at', 2), ('vienna', 2), ('about', 2), ('editor', 2), ('produced', 2), ('german', 2), ('leading', 2), ('sf', 2), ('w', 2), ('stanislaw', 2), ('philip', 2), ('k', 2), ('dick', 2), ('new', 2), ('from', 2), ('1975', 2), ('for', 2), ('writers', 2), ('well', 2), ('volumes', 2), ('brought', 2), ('out', 2), ('books', 2), ('book', 2), ('journal', 2), ('franz', 1), ('born', 1), ('waidmannsfeld', 1), ('lower', 1), ('18', 1), ('january', 1), ('1942', 1), ('austrian', 1), ('publisher', 1), ('critic', 1), ('fields', 1), ('fantasticrottensteiner', 1), ('studied', 1), ('journalism', 1), ('english', 1), ('history', 1), ('university', 1), ('receiving', 1), ('doctorate', 1), ('1969', 1), ('served', 1), ('fifteen', 1), ('librarian', 1), ('sterreichisches', 1), ('institut', 1), ('fr', 1), ('bauforschung', 1), ('addition', 1), ('translations', 1), ('into', 1), ('including', 1), ('herbert', 1), ('franke', 1), ('kobo', 1), ('abe', 1), ('cordwainer', 1), ('smith', 1), ('brian', 1), ('aldiss', 1), ('strugatski', 1), ('brothersin', 1), ('1973', 1), ('york', 1), ('anthology', 1), ('view', 1), ('another', 1), ('shore', 1), ('european', 1), ('introduced', 1), ('continental', 1), ('englishreading', 1), ('public', 1), ('work', 1), ('are', 1), ('josef', 1), ('nesvadba', 1), ('gerard', 1), ('klein', 1), ('jeanpierre', 1), ('andrevonthe', 1), ('year', 1), ('saw', 1), ('start', 1), ('series', 1), ('die', 1), ('phantastischen', 1), ('romane', 1), ('seven', 1), ('it', 1), ('republished', 1), ('both', 1), ('lesser', 1), ('betterknown', 1), ('ones', 1), ('ending', 1), ('total', 1), ('28', 1), ('19791985', 1), ('trnaslations', 1), ('h', 1), ('g', 1), ('wellss', 1), ('eighteen', 1), ('seriesrottensteiner', 1), ('provoked', 1), ('controversy', 1), ('negative', 1), ('assessment', 1), ('american', 1), ('what', 1), ('matters', 1), ('highest', 1), ('achievements', 1), ('there', 1), ('us', 1), ('yet', 1), ('produce', 1), ('figure', 1), ('comparable', 1), ('hg', 1), ('wells', 1), ('olaf', 1), ('stapledon', 1), ('karel', 1), ('apek', 1), ('or', 1), ('stanisaw', 1), ('describedroger', 1), ('zelazny', 1), ('barry', 1), ('n', 1), ('malzberg', 1), ('robert', 1), ('silverberg', 1), ('producing', 1), ('travesties', 1), ('stated', 1), ('asimov', 1), ('typical', 1), ('nonwriter', 1), ('heinlein', 1), ('andersonare', 1), ('just', 1), ('banal', 1), ('however', 1), ('praised', 1), ('listing', 1), ('him', 1), ('one', 1), ('greatest', 1), ('1980', 1), ('through', 1), ('1998', 1), ('advisor', 1), ('suhrkamp', 1), ('verlags', 1), ('phantastische', 1), ('bibliothek', 1), ('which', 1), ('three', 1), ('hundred', 1), ('all', 1), ('edited', 1), ('fifty', 1), ('anthologies', 1), ('two', 1), ('illustrated', 1), ('und', 1), ('fantasy', 1), ('1978', 1), ('working', 1), ('numerous', 1), ('reference', 1), ('close', 1), ('association', 1), ('promotion', 1), ('until', 1), ('1995', 1), ('factor', 1), ('recognition', 1), ('latter', 1), ('united', 1), ('statesrottensteiner', 1), ('been', 1), ('quarber', 1), ('merkur', 1), ('language', 1), ('critical', 1), ('since', 1), ('1963', 1), ('2004', 1), ('occasion', 1), ('hundredth', 1), ('this', 1), ('awarded', 1), ('special', 1), ('kurdlawitzpreis', 1)]

### 모든 텍스트를 이용하여, 존재하는 단어들의 사전을 만들어 보자!

In [0]:
word_bin = text.CountVectorizer(binary = True)

In [0]:
X_simple = word_bin.fit_transform(people['text'])

In [106]:
type(X_simple)

scipy.sparse.csr.csr_matrix

In [107]:
print(len(word_bin.vocabulary_))
word_bin.vocabulary_

548429

{'digby': 160652,
 'morrell': 336162,
 'born': 96612,
 '10': 704,
 'october': 359577,
 '1979': 11143,
 'is': 259893,
 'former': 203171,
 'australian': 72887,
 'rules': 427313,
 'footballer': 202230,
 'who': 530685,
 'played': 386988,
 'with': 533439,
 'the': 488148,
 'kangaroos': 272528,
 'and': 58906,
 'carlton': 111950,
 'in': 251905,
 'football': 202189,
 'league': 293515,
 'aflfrom': 48415,
 'western': 529346,
 'australia': 72734,
 'his': 239271,
 'early': 172662,
 'senior': 442836,
 'for': 202462,
 'west': 529244,
 'perth': 380905,
 '44game': 34683,
 'career': 111212,
 'falcons': 191106,
 'spanned': 461891,
 '19982000': 16893,
 'he': 233774,
 'was': 525845,
 'clubs': 128392,
 'leading': 293448,
 'goalkicker': 218903,
 '2000': 18132,
 'at': 70622,
 'age': 49200,
 'of': 360068,
 '21': 28353,
 'recruited': 412470,
 'to': 494541,
 'by': 105803,
 'club': 128164,
 'its': 261721,
 'third': 490181,
 'round': 425753,
 'selection': 441507,
 '2001': 18661,
 'afl': 48375,
 'rookie': 424587,
 'draft': 168048,
 'as': 68179,
 'forward': 203651,
 'twice': 504981,
 'kicked': 277963,
 'five': 199447,
 'goals': 218930,
 'during': 171497,
 'time': 492517,
 'first': 198987,
 'losing': 304324,
 'cause': 114354,
 'against': 49096,
 'sydney': 477633,
 '2002': 19167,
 'other': 367511,
 'following': 201845,
 'season': 439206,
 'drawn': 168649,
 'game': 210458,
 'brisbaneafter': 100673,
 '2003': 19701,
 'traded': 498461,
 'along': 55407,
 'david': 151653,
 'teague': 483135,
 'exchange': 187697,
 'corey': 139935,
 'mckernan': 320586,
 '32': 32013,
 'games': 210700,
 'blues': 93177,
 'before': 84263,
 'being': 84698,
 'delisted': 155373,
 'end': 179957,
 '2005': 20902,
 'continued': 138285,
 'play': 386929,
 'victorian': 518690,
 'vfl': 518109,
 'northern': 355400,
 'bullants': 103850,
 'carltons': 111965,
 'vflaffiliate': 518111,
 '2006': 21537,
 'acted': 45109,
 'playing': 387436,
 'assistant': 69664,
 'coach': 128896,
 '2007': 22237,
 '2008': 23034,
 'shifted': 447736,
 'box': 97883,
 'hill': 238274,
 'hawks': 233266,
 'retiring': 418380,
 'from': 207224,
 '2009': 23789,
 'until': 511222,
 '2013': 26651,
 'strathmore': 470394,
 'essendon': 184523,
 'district': 163854,
 '2011': 25312,
 'premier': 395008,
 'division': 164271,
 'premiership': 395043,
 'since': 451997,
 '2014': 27213,
 'has': 232352,
 'coached': 128951,
 'coburg': 129425,
 'also': 55769,
 'edflhe': 174268,
 'currently': 147491,
 'teaches': 483084,
 'physical': 383407,
 'education': 174843,
 'parade': 373306,
 'college': 130972,
 'melbourne': 323069,
 'alfred': 53435,
 'lewy': 297332,
 'aka': 51265,
 'sandy': 432053,
 'graduated': 222055,
 'university': 509716,
 'chicago': 121327,
 '1973': 9966,
 'after': 48854,
 'studying': 471927,
 'psychiatry': 401506,
 'pharmacology': 382010,
 'ophthalmology': 364502,
 'full': 208061,
 'professor': 398641,
 'vicechair': 518438,
 'department': 156684,
 'ohsu': 361204,
 'oregon': 365555,
 'health': 234015,
 'science': 437184,
 'holds': 241117,
 'an': 58306,
 'md': 321068,
 'phd': 382095,
 'prior': 396870,
 'moving': 337782,
 '1981': 11718,
 'national': 345651,
 'institute': 256131,
 'mental': 324197,
 'nimh': 352118,
 'bethesda': 87732,
 'maryland': 316492,
 'working': 535590,
 'colleague': 130788,
 'thomas': 490543,
 'wehr': 528054,
 'worked': 535489,
 'closely': 127964,
 'robert': 422621,
 'sack': 429216,
 'december': 153546,
 'had': 228410,
 '94': 40834,
 'publications': 401935,
 'available': 73777,
 'on': 362795,
 'pubmed': 402289,
 'describes': 157504,
 'research': 417010,
 'follows': 201883,
 'my': 342612,
 'laboratory': 288307,
 'studies': 471645,
 'chronobiologic': 123893,
 'sleep': 455467,
 'mood': 335138,
 'disorders': 163313,
 'these': 489777,
 'include': 252374,
 'winter': 532949,
 'depression': 156947,
 'jet': 266019,
 'lag': 288965,
 'maladaptation': 311191,
 'shift': 447734,
 'work': 535405,
 'certain': 116692,
 'types': 505688,
 'disturbances': 163994,
 'relying': 415317,
 'very': 517822,
 'precise': 394527,
 'assay': 69373,
 'plasma': 386674,
 'melatonin': 323056,
 'hormone': 242927,
 'that': 487995,
 'clearly': 127245,
 'defined': 154533,
 '24hour': 29860,
 'pattern': 376507,
 'secretion': 440457,
 'biological': 90275,
 'rhythm': 419799,
 'can': 108856,
 'be': 83218,
 'assessed': 69536,
 'their': 488587,
 'treatment': 500062,
 'monitored': 334209,
 'current': 147480,
 'focused': 201393,
 'developing': 158686,
 'bright': 100440,
 'light': 298905,
 'exposure': 189066,
 'administration': 46835,
 'modalities': 332604,
 'must': 342071,
 'precisely': 394528,
 'scheduled': 435342,
 'morning': 336021,
 'evening': 186601,
 'circadian': 125259,
 'phaseadvance': 382050,
 'shifts': 447743,
 'phasedelay': 382057,
 'totally': 497009,
 'blind': 92420,
 'individuals': 253557,
 'have': 233049,
 '25hour': 30163,
 'rhythms': 419825,
 'drifting': 169125,
 'hour': 243837,
 'later': 291622,
 'each': 172445,
 'day': 151934,
 'unless': 510564,
 'they': 489883,
 'take': 480014,
 'capsule': 110607,
 'every': 187049,
 'harpdog': 231877,
 'brown': 101939,
 'singer': 452265,
 'harmonica': 231765,
 'player': 387025,
 'been': 84135,
 'active': 45288,
 'canadas': 109115,
 'scene': 435009,
 '1982': 11959,
 'hailing': 228959,
 'vancouver': 514887,
 'crossed': 145190,
 'tens': 486096,
 'thousands': 490895,
 'miles': 328459,
 'dates': 151341,
 'festivals': 195589,
 'canada': 108870,
 'northwestern': 355503,
 'united': 509415,
 'states': 466805,
 'germanyover': 215067,
 'years': 541553,
 'issued': 260895,
 'seven': 444813,
 'cds': 115102,
 '1995': 15785,
 'home': 241625,
 'where': 530163,
 'harp': 231871,
 'won': 534784,
 'muddy': 338895,
 'award': 74411,
 'best': 87522,
 'nw': 357806,
 'release': 414930,
 'cascade': 112918,
 'association': 69824,
 'portland': 391776,
 'well': 528465,
 'year': 541127,
 'it': 261200,
 'nominated': 353722,
 'canadian': 109178,
 'juno': 270061,
 'bluesgospel': 93207,
 'recording': 411956,
 'teamed': 483286,
 'up': 511379,
 'graham': 222179,
 'guest': 226030,
 'piano': 383692,
 'cd': 114970,
 'naturally': 346036,
 'voted': 522673,
 'album': 52530,
 '2010': 24571,
 'lemon': 295808,
 'surveybrown': 475951,
 'tours': 497718,
 'extensively': 189319,
 'guitarist': 226500,
 'arthur': 67063,
 'edmonds': 174697,
 'performing': 379956,
 'electric': 177353,
 'mid1950s': 327262,
 'either': 176437,
 'duo': 171261,
 'or': 364925,
 'band': 78891,
 'while': 530234,
 'juggles': 269507,
 'few': 195842,
 'combos': 132172,
 'many': 313882,
 'venues': 517055,
 'big': 89270,
 'small': 456113,
 'leads': 293472,
 'which': 530205,
 'gutsy': 227450,
 'traditional': 498548,
 'released': 414948,
 'what': 529990,
 'comprising': 135181,
 'mainly': 310509,
 'original': 366166,
 'songs': 459498,
 'classic': 126795,
 'covers': 142748,
 'influential': 254386,
 'promoter': 399834,
 'broadcaster': 101058,
 'holger': 241179,
 'petersen': 381268,
 'called': 107837,
 'browns': 102016,
 'albumhe': 52605,
 'just': 270290,
 'awarded': 74524,
 'maple': 314024,
 'toronto': 496588,
 'honored': 242283,
 'life': 298470,
 'membership': 323573,
 'hamilton': 230050,
 'society': 457680,
 'franz': 205514,
 'rottensteiner': 425613,
 'waidmannsfeld': 524050,
 'lower': 305095,
 'austria': 73015,
 '18': 5257,
 'january': 263885,
 '1942': 6897,
 'austrian': 73051,
 'publisher': 402181,
 'critic': 144644,
 'fields': 196483,
 'fiction': 196209,
 'fantasticrottensteiner': 192059,
 'studied': 471634,
 'journalism': 268446,
 'english': 180881,
 'history': 239509,
 'vienna': 519215,
 'receiving': 411450,
 'doctorate': 165311,
 '1969': 9153,
 'served': 444134,
 'about': 43179,
 'fifteen': 196614,
 'librarian': 297958,
 'editor': 174536,
 'sterreichisches': 468457,
 'institut': 256130,
 'fr': 204662,
 'bauforschung': 82487,
 'addition': 46338,
 'produced': 397921,
 'number': 357311,
 'translations': 499367,
 'into': 258054,
 'german': 214819,
 'sf': 445310,
 'authors': 73354,
 'including': 252531,
 'herbert': 236189,
 'franke': 205352,
 'stanislaw': 465979,
 'lem': 295720,
 'philip': 382382,
 'dick': 160057,
 'kobo': 281793,
 'abe': 42691,
 'cordwainer': 139870,
 'smith': 456429,
 'brian': 100139,
 'aldiss': 52992,
 'strugatski': 471313,
 'brothersin': 101830,
 'new': 349674,
 'york': 543347,
 'anthology': 61186,
 'view': 519359,
 'another': 60855,
 'shore': 448758,
 'european': 185995,
 'introduced': 258166,
 'continental': 138222,
 'englishreading': 180993,
 'public': 401887,
 'some': 459103,
 'are': 64890,
 'josef': 268206,
 'nesvadba': 348695,
 'gerard': 214695,
 'klein': 280563,
 'jeanpierre': 265157,
 'andrevonthe': 59270,
 '1975': 10329,
 'saw': 434117,
 'start': 466396,
 'series': 443678,
 'die': 160257,
 'phantastischen': 381942,
 'romane': 424108,
 'republished': 416810,
 'works': 535720,
 'both': 97118,
 'lesser': 296572,
 'betterknown': 87863,
 'writers': 537442,
 'ones': 363230,
 'ending': 180071,
 'total': 496969,
 '28': 30711,
 'volumes': 522360,
 '19791985': 11170,
 'brought': 101887,
 'out': 368380,
 'trnaslations': 501538,
 'wellss': 528749,
 'eighteen': 176051,
 'seriesrottensteiner': 443892,
 'provoked': 400965,
 'controversy': 138655,
 'negative': 347667,
 'assessment': 69540,
 'american': 57263,
 'matters': 318272,
 'highest': 237833,
 'achievements': 44637,
 'there': 489537,
 'us': 512199,
 'yet': 542605,
 'produce': 397919,
 'figure': 196849,
 'comparable': 134240,
 'hg': 237369,
 'wells': 528727,
 'olaf': 361671,
 'stapledon': 466069,
 'karel': 273260,
 'apek': 62610,
 'stanisaw': 465965,
 'describedroger': 157500,
 'zelazny': 546201,
 'barry': 80926,
 'malzberg': 311993,
 'silverberg': 451479,
 'producing': 398197,
 'travesties': 499893,
 'stated': 466633,
 'asimov': 68938,
 'typical': 505706,
 'nonwriter': 354857,
 'heinlein': 235020,
 'andersonare': 59037,
 'banal': 78806,
 'however': 244298,
 'praised': 394071,
 'listing': 300840,
 'him': 238474,
 'one': 362987,
 'greatest': 223171,
 '1980': 11356,
 'through': 491325,
 '1998': 16882,
 'advisor': 47539,
 'suhrkamp': 473720,
 'verlags': 517455,
 'phantastische': 381941,
 'bibliothek': 88873,
 'three': 490984,
 'hundred': 246448,
 'books': 95835,
 'all': 54130,
 'edited': 174436,
 'fifty': 196687,
 'anthologies': 61159,
 'two': 505213,
 'illustrated': 250580,
 'book': 95658,
 'und': 508173,
 'fantasy': 192066,
 '1978': 10922,
 'numerous': 357389,
 'reference': 413300,
 'close': 127931,
 'promotion': 399844,
 'factor': 190354,
 'recognition': 411672,
 'latter': 291927,
 'statesrottensteiner': 467101,
 'quarber': 404557,
 'merkur': 324741,
 'language': 290404,
 'critical': 144646,
 'journal': 268398,
 '1963': 8369,
 '2004': 20271,
 'occasion': 359207,
 'hundredth': 246454,
 'this': 490396,
 'special': 462219,
 'kurdlawitzpreis': 286951,
 'henry': 235971,
 'krvits': 285679,
 '30': 31492,
 '1974': 10144,
 'tallinn': 480510,
 'better': 87840,
 'known': 281584,
 'stagename': 465431,
 'genka': 213985,
 'estonian': 184842,
 'rapper': 409143,
 'record': 411863,
 'producergenka': 398041,
 'started': 466406,
 'rapping': 409160,
 '1996': 16121,
 'revo': 419114,
 'dj': 164577,
 'paul': 376599,
 'oja': 361348,
 'genkas': 213986,
 'schoolmate': 436453,
 'together': 494954,
 'toe': 494879,
 'tag': 479534,
 'real': 410781,
 'kuhnja': 286294,
 'homophobes': 242002,
 'next': 350426,
 'joined': 267617,
 'rap': 409024,
 'group': 224758,
 'arhm': 65441,
 'went': 529005,
 'vacation': 513898,
 'making': 311023,
 'own': 369667,
 'solo': 458791,
 'most': 336620,
 'famous': 191766,
 'hit': 239824,
 'rapped': 409137,
 'droopy': 169445,
 'same': 431345,
 'came': 108273,
 'back': 76477,
 'tour': 497260,
 'second': 440185,
 'studio': 471788,
 'legendaarne': 295033,
 'legendary': 295035,
 'consisted': 137356,
 'were': 529062,
 'pankrot': 372679,
 'bankruptcy': 79573,
 'leegion': 294641,
 '23': 29258,
 'palmisaar': 372042,
 'palm': 371981,
 'island': 260390,
 'tugitooli': 503361,
 'gangster': 211287,
 'armchair': 65922,
 'gangstergenka': 211289,
 'company': 133984,
 'records': 412102,
 'warmup': 525518,
 'performers': 379927,
 '50': 35606,
 'cent': 115838,
 'europe': 185983,
 'promo': 399811,
 'curtis': 147586,
 'sam': 431187,
 'henderson': 235761,
 'cartoonist': 112726,
 'writer': 537268,
 'expert': 188780,
 'comedy': 132280,
 'historyhenderson': 239628,
 'woodstock': 535120,
 'attended': 71592,
 'boiceville': 94560,
 'yorks': 543620,
 'onteora': 363743,
 'high': 237742,
 'school': 436241,
 'graduating': 222073,
 '1987': 13220,
 'visual': 521004,
 'arts': 67716,
 'city': 125723,
 '1991henderson': 14662,
 'selfpublishing': 441881,
 'xeroxed': 539449,
 'minicomics': 329613,
 'midtolate': 327855,
 '1980s': 11557,
 'drew': 169025,
 'published': 402141,
 'comic': 132422,
 'captain': 110612,
 'spaz': 462085,
 'friend': 206839,
 'bobby': 93874,
 'weiss': 528322,
 'ended': 180021,
 '1988': 13494,
 'busy': 105442,
 'featuring': 193740,
 'character': 119099,
 'monroe': 334438,
 'simmons': 451729,
 '1993': 15126,
 'began': 84315,
 'bestknown': 87570,
 'title': 493802,
 'magic': 309637,
 'whistle': 530363,
 'now': 356419,
 'alternative': 55967,
 'comics': 132453,
 'wordless': 535338,
 'strip': 471014,
 'but': 105446,
 'not': 355712,
 'heard': 234157,
 'starring': 466316,
 'pink': 385002,
 'man': 312156,
 'red': 412571,
 'bear': 83372,
 'nickelodeon': 351130,
 'magazine': 309255,
 'magazines': 309447,
 'longestrunning': 303633,
 'collection': 130820,
 'due': 170559,
 '2010in': 24908,
 'review': 418878,
 'bigger': 89314,
 'larger': 291070,
 'san': 431703,
 'antonio': 62052,
 'expressnews': 189154,
 'wrote': 537746,
 'hendersons': 235774,
 'crude': 145581,
 'blobby': 92564,
 'little': 301265,
 'scratchings': 438203,
 'funniest': 208617,
 'junk': 270021,
 'turned': 504149,
 'harvey': 232307,
 'awards': 74748,
 'humor': 246330,
 '19992004in': 17334,
 'writing': 537561,
 'storyboard': 469815,
 'directing': 161845,
 'spongebob': 463513,
 'squarepants': 464514,
 'earned': 172730,
 'nomination': 353734,
 'animated': 60181,
 'program': 398889,
 'programming': 399098,
 'less': 296559,
 'than': 487882,
 '55th': 36505,
 'emmy': 179340,
 'awardshis': 74884,
 'earliest': 172648,
 'reprinted': 416629,
 'contained': 137898,
 '5009': 35661,
 'toilets': 495073,
 'penises': 378648,
 'sic': 450218,
 'asses': 69533,
 'lives': 301564,
 'hometown': 241882,
 'yorksince': 543659,
 'march': 314354,
 'weekly': 527870,
 'niblit': 350997,
 'aaron': 42090,
 'lacrate': 288655,
 'music': 341055,
 'producer': 397959,
 'artist': 67216,
 'fashion': 192689,
 'designer': 157693,
 'milkcrate': 328663,
 'clothing': 128034,
 'film': 197194,
 'director': 161918,
 'baltimore': 78636,
 'grew': 223844,
 'highlandtown': 237912,
 'east': 172958,
 'baltimoreaaron': 78638,
 'credited': 143876,
 'popularizing': 391386,
 'culture': 146757,
 'world': 535924,
 'wide': 531024,
 'level': 296939,
 'via': 518261,
 'ever': 186875,
 'platinum': 386846,
 'pop': 391078,
 'star': 466087,
 'dizzee': 164570,
 'rascals': 409283,
 'song': 459389,
 'road': 422402,
 'ragehbo': 407241,
 'commissioned': 132951,
 'athletics': 70989,
 'create': 143716,
 'official': 360513,
 'range': 408703,
 'based': 81367,
 'cable': 106477,
 'television': 485188,
 'wire': 533086,
 'hbo': 233647,
 'collaborated': 130681,
 'streetwear': 470679,
 'baltimores': 78648,
 'brandaaron': 98788,
 'productions': 398290,
 'success': 473110,
 'lily': 299356,
 'allen': 54400,
 'amanda': 56531,
 'blank': 92007,
 'spank': 461881,
 'rock': 422943,
 'mndr': 332256,
 'eliza': 178054,
 'doolittleat': 166717,
 'experimenting': 188770,
 'diy': 164529,
 'djing': 164691,
 'nightclubs': 351591,
 'house': 243914,
 'parties': 374846,
 'graffiti': 222128,
 'even': 186589,
 'custom': 147728,
 'tshirts': 502735,
 'basement': 81445,
 'created': 143718,
 'mixtapes': 331738,
 'sold': 458494,
 'throughout': 491337,
 'youngest': 543924,
 'attending': 71612,
 'syracuse': 478295,
 'took': 495915,
 'over': 369039,
 'campus': 108792,
 'spent': 462793,
 'summers': 474190,
 'interning': 257651,
 'def': 154214,
 'jam': 263340,
 'recordings': 411990,
 'payday': 376972,
 'rocafella': 422858,
 'helping': 235503,
 'launch': 292125,
 'jayzs': 264736,
 'reasonable': 411050,
 'doubt': 167445,
 'vital': 521073,
 'role': 423823,
 'hard': 231327,
 'knock': 281411,
 'exclusive': 187788,
 'jay': 264591,
 'fade': 190490,
 'black': 91526,
 'collaboration': 130687,
 'tshirtin': 502733,
 '1999': 17278,
 'sponsored': 463528,
 'highly': 237944,
 'successful': 473151,
 'live': 301384,
 'shows': 449371,
 'nyc': 357964,
 'nightclub': 351586,
 'tramps': 498970,
 'eminems': 179202,
 'show': 449104,
 'tribe': 500704,
 'quest': 405140,
 'rakim': 408006,
 'slick': 455584,
 'ricks': 420255,
 'upon': 511582,
 'prison': 396941,
 'outkast': 368603,
 'wutang': 538220,
 'clan': 126490,
 'epmd': 182631,
 'ultramagnetic': 507380,
 'mcs': 320981,
 'historical': 239448,
 'performanceslacrate': 379829,
 'remixed': 415501,
 'major': 310762,
 'label': 288099,
 'madonna': 308954,
 'gorillaz': 220850,
 'soulja': 460572,
 'boy': 97993,
 'tell': 485397,
 'em': 178746,
 'rascal': 409282,
 'young': 543902,
 'mc': 319554,
 'cool': 139039,
 'kids': 278107,
 'tracks': 498377,
 'lacrates': 288656,
 'bmore': 93494,
 'gutter': 227457,
 'used': 512789,
 'marc': 314311,
 'jacobs': 262744,
 'showlacrate': 449273,
 'toured': 497362,
 'mark': 315241,
 'ronson': 424542,
 'recently': 411459,
 'kanye': 272771,
 'developed': 158660,
 'specialedition': 462230,
 'collaborations': 130697,
 'vans': 515173,
 'colette': 130616,
 'paris': 373883,
 'jayz': 264731,
 'cashmere': 113133,
 'king': 278992,
 'lucien': 305877,
 'pellatfinet': 378242,
 'cocacola': 129438,
 'delicious': 155317,
 'vinyl': 520230,
 'dazed': 152264,
 'confused': 136527,
 'ferrariwhich': 195130,
 'ferrari': 195121,
 'featured': 193693,
 'entourage': 181833,
 'support': 475390,
 'hero': 236606,
 'videogame': 518958,
 'soundtrack': 460850,
 'observe': 359028,
 'report': 416289,
 'seth': 444596,
 'rogenrecently': 423571,
 'crack': 143194,
 'features': 193712,
 'mr': 338130,
 'vegas': 516261,
 'doolittle': 166716,
 'local': 302416,
 'artists': 67431,
 'mz': 343063,
 'streamz': 470554,
 'verb': 517137,
 'trevor': 500511,
 'ferguson': 194925,
 'john': 267446,
 'farrow': 192584,
 '11': 1656,
 'november': 356300,
 '1947': 7090,
 'novelist': 356150,
 'hudson': 245704,
 'quebec': 404894,
 'author': 73125,
 'nine': 352169,
 'novels': 356227,
 'four': 204218,
 'plays': 387581,
 'starborn': 466106,
 'seaforth': 438977,
 'huron': 246774,
 'county': 142105,
 'ontario': 363662,
 'raised': 407720,
 'montreal': 334995,
 'midteens': 327845,
 'gravitated': 223006,
 'towards': 497865,
 'northwest': 355498,
 'railway': 407559,
 'gangs': 211278,
 'write': 537247,
 'night': 351556,
 'bunkhousesin': 104253,
 'twenties': 504898,
 'travelled': 499833,
 'returning': 418585,
 'settled': 444710,
 'driving': 169309,
 'taxi': 482442,
 'publication': 401906,
 'novel': 356115,
 'water': 526225,
 'chants': 118894,
 '1977': 10722,
 'dennis': 156464,
 'lee': 294585,
 'onyx': 363842,
 '1985': 12682,
 'received': 411407,
 'arguably': 65388,
 'acclaim': 44140,
 'literature': 301013,
 'leon': 296158,
 'rooke': 424584,
 'twentieth': 504904,
 'century': 116286,
 'sixteen': 453772,
 'would': 536775,
 'become': 83926,
 'bestseller': 87622,
 'france': 204880,
 'indeed': 252894,
 'regarded': 413646,
 'hes': 236971,
 'often': 360797,
 'cited': 125545,
 'worlds': 536339,
 'preeminent': 394699,
 'writersextraordinary': 537462,
 'praise': 394063,
 'awaited': 74383,
 ...}

### 문장 하나를 벡터로 만들어 보자!

 모든 문장을 이용하여 단어 사전을 만들어 두었다!
 
 이제, 문장 하나를 단어 존재 여부를 이용하여 벡터로 만들 수 있다.

In [0]:
def simple_BOW_vector(id=0):
    sample_array = word_bin.transform([people['text'][id]]).toarray()[0]
    print('array 사이즈 : ', len(sample_array))
    print('등장한 단어의 개수 : ', sum(sample_array==1))
    print(sample_array)

In [109]:
simple_BOW_vector(4)

array 사이즈 :  548429
등장한 단어의 개수 :  113
[0 0 0 ... 0 0 0]

### 문장들을 벡터로 만들어서 데이터 프레임에 붙일 수 있을까? -> 붙이지 말자!

정말 궁금한 사람들은 아래의 코드를 실행해보자.

메모리가 터지는 것을 관찰할 수 있다!

```
word_bin.transform(people['text'].toarray())
```

위에서 아래와 같은 코드를 사용했었다.

```
X_simple = word_bin.fit_transform(people['text'])
```

X_simple는 scipy.sparse.csr.csr_matrix 라고 위에서 확인했었는데,  사실 X가 우리가 원하는 그 메트릭스다!

다만, 사이즈가 54만이 넘어가는 벡터에서 고작 단어 몇백개의 위치만 1이 되는 array를 그대로 생성하는 것은 메모리가 괴로워하기 때문에, 우리는 잘 압축된 메트릭스를 대신하여 사용한다.

아래의 셀을 실행해보면 어떻게 된 것인지 감을 잡을 수 있다!

In [110]:
people.head(1)

            name                                               text
0  Digby Morrell  digby morrell born 10 october 1979 is a former...

In [111]:
simple_BOW_vector(0)

array 사이즈 :  548429
등장한 단어의 개수 :  138
[0 0 0 ... 0 0 0]

In [112]:
X_simple[0,:].todense()

matrix([[0, 0, 0, ..., 0, 0, 0]])

In [113]:
X_simple[0,:].todense().sum()

138

In [114]:
print(X_simple[0,:])

  (0, 323069)	1
  (0, 130972)	1
  (0, 373306)	1
  (0, 174843)	1
  (0, 383407)	1
  (0, 483084)	1
  (0, 147491)	1
  (0, 174268)	1
  (0, 55769)	1
  (0, 129425)	1
  (0, 128951)	1
  (0, 232352)	1
  (0, 27213)	1
  (0, 451997)	1
  (0, 395043)	1
  (0, 164271)	1
  (0, 395008)	1
  (0, 25312)	1
  (0, 163854)	1
  (0, 184523)	1
  (0, 470394)	1
  (0, 26651)	1
  (0, 511222)	1
  (0, 23789)	1
  (0, 207224)	1
  :	:
  (0, 239271)	1
  (0, 72734)	1
  (0, 529346)	1
  (0, 48415)	1
  (0, 293515)	1
  (0, 202189)	1
  (0, 251905)	1
  (0, 111950)	1
  (0, 58906)	1
  (0, 272528)	1
  (0, 488148)	1
  (0, 533439)	1
  (0, 386988)	1
  (0, 530685)	1
  (0, 202230)	1
  (0, 427313)	1
  (0, 72887)	1
  (0, 203171)	1
  (0, 259893)	1
  (0, 11143)	1
  (0, 359577)	1
  (0, 704)	1
  (0, 96612)	1
  (0, 336162)	1
  (0, 160652)	1

### 우리는 sparse_matrix를 이용하여 그대로 nearest neighbors 도 해보고 클러스터링도 해볼 것이다!

NearestNeighbor search를 해보자!

In [0]:
from sklearn.neighbors import NearestNeighbors

In [0]:
nbrs_simple = NearestNeighbors(n_neighbors=6, metric='cosine').fit(X_simple)

In [0]:
def nearest_search(name, nbrs = nbrs_simple):
    queried_id = people.index[people['name']==name]
    queried_array = X_simple[queried_id, :]
    distances, indices = nbrs.kneighbors(queried_array)
    temp_df = people.loc[indices.tolist()[0]]
    temp_df['rank'] = [0,1,2,3,4,5]
    distances = [ '{:.6f}'.format(elem) for elem in distances.tolist()[0]]
    temp_df['distances'] = distances
#     print(temp_df)
    return(temp_df)

In [118]:
nearest_search(name = 'Angelina Jolie', nbrs = nbrs_simple).head(3)

,name,text,rank,distances
39521,Angelina Jolie,angelina jolie doli johlee born angelina jolie...,0,0.000000
24426,Brad Pitt,william bradley brad pitt born december 18 196...,1,0.643529
44992,Julianne Moore,julianne moore born julie anne smith december ...,2,0.660615

In [119]:
nearest_search(name = 'Victoria Beckham', nbrs = nbrs_simple).head(3)

,name,text,rank,distances
50411,Victoria Beckham,victoria caroline beckham ne adams born 17 apr...,0,0.000000
55821,Cheryl Cole,cheryl ann fernandezversini ne tweedy formerly...,1,0.664117
44581,Heidi Klum,heidi klum pronounced hadi klm born june 1 197...,2,0.682303

## Bag of Words Count ver

이제는 Bag of Words를 단어 수로 구현해보자!

In [0]:
'''
Library Loading
'''

import sklearn.feature_extraction.text as text

위에서는 아래와 같은 코드를 사용했다
```
word_bin = text.CountVectorizer(binary = True)
```

binary = True 가 되면, 단어의 등장 여부를 가지고 vector를 만들지만,

binary = False로 해두면, 단어의 등장 빈도를 이용하여 vector를 만든다.

In [0]:
word_count = text.CountVectorizer(binary = False)
X_count = word_count.fit_transform(people['text'])

In [122]:
people.head(1)

            name                                               text
0  Digby Morrell  digby morrell born 10 october 1979 is a former...

In [123]:
simple_BOW_vector(0)

array 사이즈 :  548429
등장한 단어의 개수 :  138
[0 0 0 ... 0 0 0]

In [124]:
X_count[0,:].todense()

matrix([[0, 0, 0, ..., 0, 0, 0]])

In [127]:
print('총 단어 등장 수 :', X_count[0,:].todense().sum())
print('등장한 단어의 수 :', X_simple[0,:].todense().sum())

총 단어 등장 수 : 247
등장한 단어의 수 : 138

Bag of Words 가  등장여부에서 단어횟수로 더 정교화 되었다!

Nearest Neighbor search해보자!

In [0]:
from sklearn.neighbors import NearestNeighbors

In [0]:
nbrs_count = NearestNeighbors(n_neighbors=6, metric='cosine').fit(X_count)

In [134]:
nearest_search(name='Angelina Jolie', nbrs = nbrs_count)

,name,text,rank,distances
39521,Angelina Jolie,angelina jolie doli johlee born angelina jolie...,0,0.380134
29562,Felicity Huffman,felicity kendall huffman born december 9 1962 ...,1,0.643617
11000,Michelle Williams (actress),michelle ingrid williams born september 9 1980...,2,0.675335
44992,Julianne Moore,julianne moore born julie anne smith december ...,3,0.676172
25016,Samantha Morton,samantha jane morton born 13 may 1977 is an en...,4,0.678581
50619,Jessica Chastain,jessica michelle chastain born march 24 1977 i...,5,0.678949

In [135]:
nearest_search(name='Angelina Jolie', nbrs = nbrs_simple)

,name,text,rank,distances
39521,Angelina Jolie,angelina jolie doli johlee born angelina jolie...,0,0.000000
24426,Brad Pitt,william bradley brad pitt born december 18 196...,1,0.643529
44992,Julianne Moore,julianne moore born julie anne smith december ...,2,0.660615
29562,Felicity Huffman,felicity kendall huffman born december 9 1962 ...,3,0.661333
21644,Jodie Foster,alicia christian foster born november 19 1962 ...,4,0.671561
38514,George Clooney,george timothy clooney born may 6 1961 is an a...,5,0.673001

In [136]:
nearest_search(name='Victoria Beckham', nbrs = nbrs_count)

,name,text,rank,distances
50411,Victoria Beckham,victoria caroline beckham ne adams born 17 apr...,0,0.380494
44581,Heidi Klum,heidi klum pronounced hadi klm born june 1 197...,1,0.660855
26660,Jenna Jameson,jenna jameson born jenna marie massoli april 9...,2,0.672028
53094,Kate Moss,kate moss born 16 january 1974 is an english m...,3,0.679885
40505,Madonna (entertainer),madonna louise ciccone tkoni born august 16 19...,4,0.683194
15798,K'Lee,kaleena renae mcnabb born 1984 better known by...,5,0.683382

In [137]:
nearest_search(name='Victoria Beckham', nbrs = nbrs_simple)

,name,text,rank,distances
50411,Victoria Beckham,victoria caroline beckham ne adams born 17 apr...,0,0.000000
55821,Cheryl Cole,cheryl ann fernandezversini ne tweedy formerly...,1,0.664117
44581,Heidi Klum,heidi klum pronounced hadi klm born june 1 197...,2,0.682303
5168,Simon Fuller,simon fuller born 17 may 1960 is an english en...,3,0.701995
27793,Adele,adele laurie blue adkins mbe born 5 may 1988 k...,4,0.704347
17264,Mel B,melanie janine brown born 29 may 1975 better k...,5,0.706237